.leftBottomBgImageBox {
  position: fixed;
  width: 303.5px;
  height: 513.08px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.rightBgImageBox {
  position: absolute;
  width: 40vw;
  height: 40vw;
  right: 0;
  bottom: 10%;
  z-index: -1;
}
